<header>
   <!-- -----------------------SLlDER---------------------------------------------- -->
   <section class="sliders">
      <div class="aspect-ratio-169">
         <img src="https://as1.ftcdn.net/v2/jpg/02/76/65/98/1000_F_276659824_FgncVDaj9PrxqMTHSLgZ7U7Ewzhj2su7.jpg"
            alt="" />
         <img src="https://as1.ftcdn.net/v2/jpg/02/76/65/98/1000_F_276659824_FgncVDaj9PrxqMTHSLgZ7U7Ewzhj2su7.jpg"
            alt="" />
         <img src="https://as1.ftcdn.net/v2/jpg/02/76/65/98/1000_F_276659824_FgncVDaj9PrxqMTHSLgZ7U7Ewzhj2su7.jpg"
            alt="" />
      </div>
      <div class="dot-container">
         <div class="dot active"></div>
         <div class="dot"></div>
         <div class="dot"></div>
      </div>
   </section>
</header>

<!-- content -->
<section class="wrapper">
   <div class="products">
      <ul>
         <li class="main-product">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_nau_4_e336afa4845940bd8bc8d3931855571d_1024x1024.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Áo blazer crop cài 1 nút</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">476000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_cam_4_5c4eedbed83d4387a3e315370217ec8e_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Đầm 3 tầng cột nơ ngực hoa nhí</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">626000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_xanh_duong_4_18d88b15d8c849159649120db793a453_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Đầm 2 dây mini nhấn nơ bản</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">346000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product no-margin">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_xanh_duong_4_33c5275a74a14b13b6bcfb352858578b_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Đầm mini nhấn dải bèo ngang ngực
               </h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">416000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_den_4_9e4132f3922248e882057a6160872673_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Quần cullote ống suông</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">297000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_hong_4_a569034d217543f1bd99cd7cddede715_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Áo basic cổ đổ sát nách</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">217000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_da_4_30ed8512ea99402abcf39e478412c8d1_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Quần shorts xếp bốn ly trước</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">236000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
         <li class="main-product no-margin">
            <div class="img-product">
               <img class="img-prd"
                  src="https://product.hstatic.net/1000197303/product/pro_xanh_duong_6_74c738e4bffb4d81bcf6cf08d22d8164_grande.jpg"
                  alt="" width="210" height="500">
            </div>
            <div class="content-product">
               <h3 class="content-product-h3">Đầm tay phồng smocking lưng hoa nhí</h3>
               <div class="content-product-deltals">
                  <div class="price">
                     <span class="money">516000đ</span>
                  </div>
                  <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
               </div>
            </div>
         </li>
      </ul>
      <div id="myModal" class="modal">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Giỏ Hàng</h5>
                 <span class="close">&times;</span>
             </div>
             <div class="modal-body">
                 <div class="cart-row">
                     <span class="cart-item cart-header cart-column">Sản Phẩm</span>
                     <span class="cart-price cart-header cart-column">Giá</span>
                     <span class="cart-quantity cart-header cart-column">Số Lượng</span>
                 </div>
                 <div class="cart-items">
                    
                 </div>
                 <div class="cart-total">
                     <strong class="cart-total-title">Tổng Cộng:</strong>
                     <span class="cart-total-price"></span>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary close-footer">Đóng</button>
                 <button type="button" class="btn btn-primary order">Thanh Toán</button>
             </div>
         </div>
      </div>
   </div>
</section>