<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Giới Thiệu</title>
   <link rel="stylesheet" href="assets/css/gioithieu.css">
   <link rel="icon" href="//theme.hstatic.net/1000197303/1000782757/14/logo.png?v=229">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

   <div class="container">
      <div class="header">
         <div class="header-left">
            <img src="https://giamgiatructuyen.com/wp-content/uploads/2019/09/logo-marc-fashion.png" alt="">
         </div>
         <div class="header-right">
            <div>
               <h2>MARC</h2>
               <h3>Fashion Shop</h3>
               <div class="header-right-info">
                  <p>
                     <i class="fas fa-envelope"></i>
                     <span>marcshopctgmail.com</span>
                  </p>
                  <p>
                     <i class="fas fa-phone-alt"></i>
                     <span>0398724956</span>
                  </p>
                  <p>
                     <i class="fas fa-map-marker-alt"></i>
                     <span>Cần Thơ City</span>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="cv-main-row">
         <div class="col-left">
            <div class="col-left-title">
               <h1>THỜI TRANG NỮ CAO CẤP</h1>
               <hr>
            </div>
            <div class="col-left-contain">
               <div class="col-left-coltain-item">
                  <h3></h3>
                  <p></p>
                  <p>
                     Đến với MARC, bạn sẽ không phải băn khoăn về chất lượng cũng như giá cả các mặt hàng quần áo nữ.
                     Với nhiều năm kinh nghiệm về thị trường thời trang nữ, chúng tôi đã không ngừng tìm kiếm và cập
                     nhật những mặt hàng thời trang nữ tốt nhất, chất lượng nhất tại các công ty may hàng đầu trên khắp
                     Việt Nam, giá cả cực kỳ cạnh tranh. Hãy đến MARC để cập nhật thường xuyên những xu hướng thời trang
                     nữ mới nhất, đẹp nhất, độc nhất dành riêng cho mình nhé.
                  </p>
               </div>
               <div class="col-left-coltain-item">
                  <h3></h3>
                  <p></p>
                  <p>
                     MARC cung cấp tất cả những mặt hàng thời trang nữ xuất khẩu, vnxk hàng hiệu: áo sơ mi, đầm, váy,
                     quần kaki, quần ngố, đồ lót,.. giày dép nữ … và còn rất nhiều những mặt hàng khác. Quá đa dạng và
                     phong phú phải không! Còn chờ gì nữa, hãy nhanh chân tới ngay MARC để cập nhật ngay cho mình xu
                     hướng thời trang nữ mới nhất nhé. MARC tin chắc rằng bạn sẽ hài lòng khi sử dụng những mặt hàng tại
                     đây.
                  </p>
               </div>
               <div class="col-left-coltain-item">
                  <h3>ĐỊA CHỈ</h3>
                  <p>
                     Cửa Hàng MARC:
                  </p>
                  <p>
                  <p>
                     Số 330/10a - KV4 - AN BÌNH - NINH KIỀU - CẦN THƠ </p>
                  <p>
                     Hotline: 0398724956 (Call / Zalo / FB)
                  </p>

               </div>
            </div>
         </div>
         <div class="col-right">
            <div class="col-right-item">
               <div class="col-right-item-title">
                  <h1>TỪ KHÓA TÌM KIẾM</h1>
                  <hr>
               </div>
               <div class="col-right-item-contain">
                  <p>
                     Quần áo nữ big size, Quần áo nữ xuất khẩu, Đầm nữ 2 dây, Quần jean nữ, Quần ống rộng, Đầm 3 tầng,
                     Kính mát nữ, Đồng hồ nữ, Áo khoác nữ, Áo phông nữ, Shop quần áo nữ Cần Thơ, Hàng hiệu xuất khẩu
                     Việt Nam,...
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>

</body>

</html>