<!-- footer -->
<footer>
   <div class="footer-item">
      <div class="img-footer">
         <img src="https://theme.hstatic.net/1000197303/1000782757/14/logo.png?v=229" alt=""
            style="width: 150px; height:40px; ">
      </div>
   </div>
</footer>