<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Đăng kí - MarcShop</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link rel="icon" href="//theme.hstatic.net/1000197303/1000782757/14/logo.png?v=229">
   <link rel="stylesheet" href="/assets/css/sign_in_up.css">
</head>

<body>
   <div class="container">
      <form method="post">
         <h1>Register</h1>
         <div class="form_control ">
            <input id="username" type="text" placeholder="UserName" name="username">
            <small></small>
            <span></span>
         </div>

         <div class="form_control ">
            <input id="email" type="text" placeholder="Email" name="email">
            <small></small>
            <span></span>
         </div>

         <div class="form_control ">
            <input id="password" type="password" placeholder="Password" name="password">
            <small></small>
            <span></span>
         </div>

         <div class="form_control ">
            <input id="confirm_password" type="password" placeholder="Confirm Password">
            <small></small>
            <span></span>
         </div>
         <div class="checkbox">
            <input id="checkHienthi" type="checkbox">
            <label for="">Hiển thị mật khẩu</label>
         </div>

         <div id="showbf"></div>

         <button id="btn_DK" type="button" class="btn_submit">Đăng ký</button>

         <div class="signup_link">
            You have a account? <a href="/dang-nhap">Sign in</a>
         </div>
      </form>
   </div>

   <script src="/js/sign_up.js"></script>
</body>

</html>
